<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pipelining</title>
</head>
<body>
    {{.}}
    {{index . 0}}
    {{index . 1}}
    {{index . 2}}

     {{/*(index .Bosses 3).Location */}} 
</body>
</html>