<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elden Ring bosses</title>
</head>
<body>
    <h1>Meaning of life: {{.}}</h1>
    <p>{{template "polarbear" .}}</p>
</body>
</html>