<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elden Ring bosses</title>
</head>
<body>
    <ul>
        {{$x := .Location}}
        {{$y := .Name}}
        <li>{{.Location}} - {{.Name}}</li>
    </ul>
</body>
</html>
