<!DOCTYPE html>
<html lang="en">

<form method="post">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="first">
    </br>
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="last">
    </br>
    <label for="subscribe">Subscribe</label>
    <input type="text" id="subscribe" name="subscribe">
    </br>
    <input type="submit">
</form>
</br>
<h1>{{.FirstName}}</h1>
<h1>{{.LastName}}</h1>
<h1>{{.Subscribed}}</h1>

</html>